<h1>Secrets#index</h1>

  <% @secrets.reverse.each do |e| %>
    <p><%= e.content  %> -  (<%= e.created_at %>)</p>
    <p><%= e.likes.count %> likes</p>
      <% unless current_user.secrets_liked.include? e %>
		  <form action='/likes' method='post'>
		    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		    <input type='hidden' name='secret_id' value='<%= e.id %>'>
		    <input type='submit' value='Like'>
		  </form>
	  <% else %>
	  	  <form action="/likes/<%= e.likes.where(user: current_user).first.id%>"" method='post'>
	  	    <input type="hidden" name="_method" value="delete">
		    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		    <input type='hidden' name='secret_id' value='<%= e.id %>'>
		    <input type='submit' value='Unlike'>
		  </form>
	  <% end %>
    <% if e.user.id == session[:user_id] %>
    	<form action="/secrets/<%=e.id%>" method="post">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete">
		</form>
    <% end %>
    <hr>
  <% end %>